@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
    background-color: #fafafa;
    color: #0e0b16; 
    font-family: 'Quicksand'; 
}

h1, h2 {
    font-family: 'Lato';
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #661EE8;
}

p, ul {
    line-height: 1.6em;
    font-size: 16px;
}

a {
    outline: none;
}

thead {
    background-color: #f5f5f5;
}

.myhome {
    color: #fafafa;
}

.mytoggle, 
.mynavbar .mytoggle:focus, 
.mynavbar .mytoggle:hover {
    background-color:#fafafa;
    border-color: #fafafa; 
}

.mynavbar .mytoggle .myiconbar {
    background-color: #0e0b16;
}

.mynavbar {
    background-image: -webkit-linear-gradient(#5165E7,#0928EA); 
    background-image: -moz-linear-gradient(#5165E7,#0928EA);  /* For Firefox */ 
    background-color: (#0928EA);  /* For browsers that don't support gradient */ 
}

.mynavbar .mynavitems > li > a,
.mynavbar .mynavitems > li > a:focus {
    color: #fafafa;
}

.mynavbar .mynavitems > li > a:hover,
.mynavbar .mynavitems .dropdown.open .dropdown-toggle {
    background-color: #0e0b16;
    color: #fafafa;
}

.mynavbar .mynavitems .dropdown.open .dropdown-menu > li > a,
.mynavbar .mynavitems .dropdown.open .dropdown-menu {
    background-color: #061DAC;
    color: #fafafa; 
}

.mynavbar .mynavitems .dropdown.open .dropdown-menu > li > a:hover {
    background-color: #0e0b16;
}

.mybackground {
    min-height: 630px;
    background: url(images/IMG_1741.jpg) no-repeat center;  
}

.mybackground h1 {
    color: #661EE8;
    background-color: #fafafa;
    border: 2px solid #fafafa;
    opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.skill-button {
    display: block;
    margin: 1em auto;
    padding: 0.3em;
    background-color: #f5f5f5;
    border: 0.5px solid #ddd;
    border-radius: 3px;
    width: 24em;
    font-weight: bold;
    font-size: 16px;
}

.show-hide {
    display: block;
    margin: 1em auto;
    padding: 0.3em;
    background-color: #f5f5f5;
    border: 0.5px solid #ddd;
    border-radius: 3px;
    width: 8em;
    font-weight: bold;
    font-size: 16px;
}

.skill-category {
    list-style-type: none;
}

.mypanel, .resources {
    margin: 1em;
}

.resourceLink > img {
    margin: 1em;
}

/* adjustments to datatables features */
.dataTables_wrapper {
    padding: 0.25em 0.5em; 
} 
