@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
    background-color: #fafafa;
    color: #0e0b16; 
    font-family: 'Raleway'; 
}

h1, h2 {
    font-family: 'Quicksand';
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #6a1ef7;
}

p, ul {
    line-height: 1.6em;
    font-size: 16px;
}

a {
    outline: none;
}

.myhome {
    color: #fafafa;
}

.mytoggle, 
.mynavbar .mytoggle:focus, 
.mynavbar .mytoggle:hover {
    background-color:#fafafa;
    border-color: #fafafa; 
}

.mynavbar .mytoggle .myiconbar {
    background-color: #0e0b16;
}

.mynavbar {
    background-image: -webkit-linear-gradient(#5d97ff, #1751d8);
    background-image: -moz-linear-gradient(#5d97ff, #1751d8); /* For Firefox */
    background-color: #2b65ec;  /* For browsers that don't support gradient */
}

.mynavbar .mynavitems > li > a,
.mynavbar .mynavitems > li > a:focus {
    color: #fafafa;
}

.mynavbar .mynavitems > li > a:hover,
.mynavbar .mynavitems .dropdown.open .dropdown-toggle {
    background-color: #0e0b16;
    color: #fafafa;
}

.mynavbar .mynavitems .dropdown.open .dropdown-menu > li > a,
.mynavbar .mynavitems .dropdown.open .dropdown-menu {
    background-color: #2b65ec;
    color: #fafafa; 
}

.mynavbar .mynavitems .dropdown.open .dropdown-menu > li > a:hover {
    background-color: #0e0b16;
}

.mybackground {
    min-height: 600px;
    background: url(images/beach-wide.jpg) no-repeat center bottom;  
}

.mybackground h1 {
    color: #6a1ef7;
    background-color: #fafafa;
    border: 2px solid #fafafa;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}