body {
    background-color:#fafafa;
    color:#0e0b16; 
    font-family: 'Lora'; 
}
h1, h2 {
    font-family:'Quicksand';
    text-align: center;
    text-transform: uppercase;
}
h1 {
    color:#6a1ef7;
    }
h2 {
    color:#a239ca;
    }
p, ul {
    font-size: 16px;
    line-height: 1.6em; 
}
.page-title { 
    background-image:url(Images/Beach.JPG);
    background-size:cover;
    background-repeat:no-repeat;
    line-height:250px;
    border-radius:25%;
}
.blog, .section {
    height:722px;
    overflow:scroll;
    border: 7px dotted #6a1ef7;
    padding:0% 5% 5% 5%;
}
.right {
    float:right;
    width:48%;
    padding:5% 0% 0% 0%
}
.left {
    float:left;
    width:48%;
    padding:5% 0% 0% 0%
}
