body {
    background-color:#f7efe2;
    color:black;
    max-width: 700px;
    margin: 1rem auto 1rem;
    font-family: 'Raleway', sans-serif; 
}
h1 {
    text-align: center;
    color:#92aac7;
    }
h2 {
    text-align: center;
    color:#ed5752;
    }
p{
    font-size: 16px;
    line-height: 25px; 
    color:00293c; 
}
ul {
    font-size: 18px;
    line-height: 25px; 
}
