@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
    background-color: #fafafa;
    color: #0e0b16; 
    font-family: 'Raleway'; 
}

h1, h2 {
    font-family: 'Quicksand';
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #a239ca;
}

p, ul {
    line-height: 1.6em;
    font-size: 16px;
}

nav {
    background-image: -webkit-linear-gradient(#6a1ef7, #a239ca);
    background-image: -moz-linear-gradient(#6a1ef7, #a239ca); /* For Firefox */
    background-color: #6a1ef7;  /* For browsers that don't support gradient */
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
    color: #fafafa;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #0e0b16;
    color: #fafafa;
}

.jumbotron {
    min-height: 600px;
    background: url(images/Beach-wide.jpg) no-repeat center bottom;  
}

.jumbotron h1 {
    color: #6a1ef7;
    background-color: #fafafa;
    border: 2px solid #fafafa;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}